<html>
    <head>
        <title>Reset Your Password</title>
    </head>
    <body>
        <h1>Reset Your Password</h1>
        <p>We received a request to reset your password. Click the link below to
            reset your password:</p>
        <p><a href='{{resetToken}}'>Reset Password</a></p>
        <p>This link will expire in 1 hour.</p>
        <p>If you didn't request a password reset, please ignore this email or
            contact support if you have concerns.</p>
        <p>Best regards,<br />The MTD Tax Team</p>
    </body>
</html>