<html>
    <head>
        <title>Welcome to MTD Tax</title>
    </head>
    <body>
        <h1>Welcome to MTD Tax!</h1>
        <p>Thank you for signing up. To complete your registration, please scan
            the QR code below with your authenticator app:</p>
        <img src='{{qrCode}}' alt='QR Code' />
        <p>This QR code will be used for two-factor authentication when logging
            in to your account.</p>
        <p>If you have any questions, please don't hesitate to contact our
            support team.</p>
        <p>Best regards,<br />The MTD Tax Team</p>
    </body>
</html>